    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
    <script type="text/javascript" src="http://classic.avantlink.com/affiliate_app_confirm.php?mode=js&authResponse=6563f322a20ab1c8d5b6202682d6089ded1b5220"></script>
    {% if page.tags contains 'recipe' %}
    <script type="application/ld+json">
        {
          "@context": "https://schema.org/",
          "@type": "Recipe",
          "name": "{{ page.recipe_name }}",
          "image": "{{ page.recipe_image}}",
          {% if page.recipe_photos %}"image": [
            {% for photo in page.recipe_photos %}"{{ photo }}"{% if forloop.index != page.recipe_photos.size %},{% endif %}{% endfor %}
          ],{% endif %}
          "author": {
            "@type": "Person",
            "name": "{{ page.recipe_author }}"
          },
          "datePublished": "{{ pubdate | date_to_long_string }}",
          "description": "{{ page.excerpt | strip_html | strip_newlines | truncate: 200 }}",
          {% if page.recipe_preptime %}"prepTime": "PT{{ page.recipe_preptime}}",{% endif %}
          {% if page.recipe_cooktime %}"cookTime": "PT{{ page.recipe_cooktime}}",{% endif %}
          {% if page.recipe_cooktime %}"totalTime": "PT{{ page.recipe_totaltime}}",{% endif %}
          {% if page.recipe_keywords %}"keywords": "{{ page.recipe_keywords }}",{% endif %}
          {% if page.recipe_yield %}"recipeYield": "{{ page.recipe_yield }}",{% endif %}
          {% if page.recipe_category %}"recipeCategory": "{{ page.recipe_category }}",{% endif %}
          {% if page.recipe_cuisine %}"recipeCuisine": "{{ page.recipe_cuisine }}",{% endif %}
          {% if page.recipe_calories %}"nutrition": {
            "@type": "NutritionInformation",
            "calories": "{{ page.recipe_calories }} calories"
          },{% endif %}
          {% if page.recipe_ingredients %}
          "recipeIngredient": [
            {% for ingredient in page.recipe_ingredients %}"{{ ingredient }}"{% if forloop.index != page.recipe_ingredients.size %},{% endif %}
            {% endfor %}
            ],
          {% endif %}
          "recipeInstructions": [
            {% for instruction in page.recipe_prep %}{
                    "@type": "HowToStep",
                    {% if instruction.name %}"name": "{{ instruction.name }}"{% if instruction.text | instruction.url | instruction.image %},{% endif %}{% endif %}
                    {% if instruction.text %}"text": "{{ instruction.text }}"{% if instruction.url | instruction.image %},{% endif %}{% endif %}
                    {% if instruction.url %}"url": "{{ instruction.url }}"{% if instruction.image %},{% endif %}{% endif %}
                    {% if instruction.image %}"image": "{{ instruction.image }}"{% endif %}
                },{% endfor %}
            {% for instruction in page.recipe_cook %}{
                    "@type": "HowToStep",
                    {% if instruction.name %}"name": "{{ instruction.name }}"{% if instruction.text | instruction.url | instruction.image %},{% endif %}{% endif %}
                    {% if instruction.text %}"text": "{{ instruction.text }}"{% if instruction.url | instruction.image %},{% endif %}{% endif %}
                    {% if instruction.url %}"url": "{{ instruction.url }}"{% if instruction.image %},{% endif %}{% endif %}
                    {% if instruction.image %}"image": "{{ instruction.image }}"{% endif %}
                }{% if forloop.index != page.recipe_cook.size %},{% endif %}
            {% endfor %}
            ],
          {% if page.recipe_rating %}"aggregateRating": {
            "@type": "AggregateRating",
            "ratingValue": "{{ page.recipe_rating }}",
            "ratingCount": "1",
            "author": {
                "@type": "Person",
                "name": "Geremy Condra"
            }
          }{% endif %}
        }
    </script>
  {% endif %}
  {% if page.tags contains 'review' %}
    <script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "Product",
      {% if page.review_brand %}"brand": {
        "@type": "Brand",
        "name": "{{ page.review_brand }}"
      }, {% endif %}
      {% if page.review_summary %} "description": "{{ page.review_summary }}",{% endif %}
      {% if page.review_sku %}"sku": "{{ page.review_sku }}",{% endif %}
      {% if page.review_image %}"image": "{{ page.review_image }}",{% endif %}
      "name": "{{ page.review_product }}",
      "review": [{
        "@type": "Review",
        "reviewRating": {
          "@type": "Rating",
          "ratingValue": "{{ page.review_rating }}"
        },
        "author": {
          "@type": "Person",
          "name": "Geremy Condra"
        }
       }]
      }
    }
    </script>
  {% endif %}